@charset "UTF-8";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 430px;
    padding: 0px 25px 0px 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0px 25px 0px 25px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: Poppins;
  src: url(../Fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Volkhov;
  src: url(../Fonts/Volkhov-Regular.ttf);
}
header {
  background-image: url("../Images/header-bg.png");
  height: 686px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  header {
    background-position: center;
    background-size: cover;
  }
}

.header-elements {
  padding-top: 63px;
}

#opener {
  display: none;
}
@media screen and (max-width: 767px) {
  #opener {
    display: block;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 67px;
}
@media screen and (max-width: 767px) {
  .header-nav .menuOpenerBtn {
    display: block;
  }
  .header-nav .nav-logo {
    z-index: 99999;
  }
  .header-nav .navEL {
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(194, 151, 100);
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 5vh;
    padding-left: 40px;
    width: 70%;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 0.5s;
  }
  .header-nav .open {
    transform: translateX(0);
  }
}

.header-nav ul {
  display: flex;
  gap: 50px;
}
.header-nav ul li a {
  color: rgb(255, 255, 255);
  font-family: Circular Std;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.btn-vip {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 17px 22px;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
  background: rgb(224, 145, 50);
  color: rgb(255, 255, 255);
  font-family: Circular Std;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .btn-vip {
    display: none;
  }
}

.header-hero {
  padding-top: 140px;
}
@media screen and (max-width: 767px) {
  .header-hero {
    padding-top: 240px;
  }
}
.header-hero h2 {
  color: #fff;
  width: 631px;
  font-family: Poppins;
  font-size: 54.51px;
  font-weight: 700;
  line-height: 67.91px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .header-hero h2 {
    font-size: 28px;
    width: 330px;
    line-height: 50px;
  }
}
.header-hero h2 .h2-Export {
  color: rgb(255, 172, 72);
  letter-spacing: 5px;
}

.hero-btn {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 15px 50px;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
  background: rgb(224, 145, 50);
  color: rgb(255, 255, 255);
  font-family: Circular Std;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.hero-selects {
  margin-top: 40px;
  width: 846px;
  height: 102px;
  border-radius: 5.22px;
  -webkit-backdrop-filter: blur(35.52px);
          backdrop-filter: blur(35.52px);
  background: rgba(243, 243, 243, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .hero-selects {
    width: 350px;
    overflow-x: scroll;
    gap: 10px;
    padding-left: 250px;
    padding-right: 30px;
    display: none;
  }
}
.hero-selects h3 {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 18.81px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.hero-mobile-selects {
  display: none;
}

.selects-palasa {
  width: 3px;
  border-radius: 25px;
  height: 48px;
  background: rgb(208, 208, 208);
}
@media screen and (max-width: 767px) {
  .selects-palasa {
    display: none;
  }
}

/* ///  DECORATION CSS ///  */
.cont_select_center {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -150px;
}

.cont_heg_50 {
  position: absolute;
  height: 50%;
  left: 0;
  top: 0;
  width: 100%;
}

/* ///  END DECORATION CSS  ///  */
.icon_select_mate {
  position: absolute;
  top: 20px;
  right: 2%;
  font-size: 16px;
  height: 22px;
  transition: all 275ms;
}

.select_mate {
  position: relative;
  float: left;
  min-width: 200px;
  width: 200px;
  min-height: 60px;
  font-family: "Roboto";
  color: #777;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 375ms ease-in-out;
  /* Oculto el elemento select */
}
.select_mate select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  z-index: -1;
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}

.cont_select_int {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out;
}
.cont_select_int li {
  position: relative;
  float: left;
  width: 96%;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  list-style-type: none;
  padding: 10px 2%;
  margin: 0px;
  transition: all 275ms ease-in-out;
  display: block;
  cursor: pointer;
}
.cont_select_int li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}
.cont_select_int li:hover {
  background-color: #eeeeee;
}
.cont_select_int .active {
  background-color: #eeeeee;
}

/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
  padding: 20px 2%;
  width: 96%;
  display: block;
  margin: 0px;
  cursor: pointer;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: 0.7em;
}

.square {
  width: 0.7em;
  height: 0.7em;
  margin: 0.5em;
  display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #aa7744;
}

.custom-dropdown select {
  background-color: rgb(127, 104, 74);
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "▼";
  height: 1em;
  font-size: 0.625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -0.5em;
}

.custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.custom-dropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, 0.4);
}

.section-choose {
  background: rgb(255, 239, 205);
}

.choose-elements {
  padding-top: 153px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 122px;
}
@media screen and (max-width: 767px) {
  .choose-elements {
    padding-top: 50px;
    flex-direction: column;
  }
}
.choose-elements img {
  width: 573px;
}
@media screen and (max-width: 767px) {
  .choose-elements img {
    transform: translateX(-30px);
    width: 350px;
  }
}

.choose-texts h3 {
  color: rgb(224, 145, 50);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .choose-texts h3 {
    text-align: center;
  }
}
.choose-texts h2 {
  color: rgb(24, 30, 75);
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
  line-height: 71.04px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .choose-texts h2 {
    text-align: center;
    font-size: 30px;
  }
}
.choose-texts p {
  width: 450px;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .choose-texts p {
    text-align: center;
    width: 300px;
    height: 200px;
    overflow-y: scroll;
  }
}

.choose-btn {
  margin-top: 40px;
}
.choose-btn a {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 15px 25px;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
  background: rgb(224, 145, 50);
  color: rgb(255, 255, 255);
  font-family: Circular Std;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.section-asked {
  background: rgb(255, 239, 205);
}

.asked-texts h3 {
  color: rgb(224, 145, 50);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .asked-texts h3 {
    text-align: center;
    width: 350px;
  }
}
.asked-texts h2 {
  width: 444px;
  color: rgb(24, 30, 75);
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .asked-texts h2 {
    width: 330px;
    text-align: center;
    font-size: 35px;
  }
}

.asked-list-text1 h3 {
  color: rgb(94, 98, 130);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 124.5%;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .asked-list-text1 h3 {
    width: 250px;
  }
}
.asked-list-text1 h4 {
  margin-top: 3px;
  width: 430px;
  color: rgb(94, 98, 130);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 124.5%;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .asked-list-text1 h4 {
    margin-top: 5px;
    width: 280px;
  }
}

.asked-list-text2 h3 {
  color: rgb(94, 98, 130);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 124.5%;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .asked-list-text2 h3 {
    width: 250px;
  }
}
.asked-list-text2 h4 {
  margin-top: 3px;
  width: 506px;
  color: rgb(94, 98, 130);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 124.5%;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .asked-list-text2 h4 {
    margin-top: 5px;
    width: 280px;
  }
}

.asked-list-text3 h3 {
  color: rgb(94, 98, 130);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 124.5%;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .asked-list-text3 h3 {
    width: 250px;
  }
}
.asked-list-text3 h4 {
  margin-top: 3px;
  width: 530px;
  color: rgb(94, 98, 130);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 124.5%;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .asked-list-text3 h4 {
    margin-top: 5px;
    width: 280px;
  }
}

.asked-elements {
  padding-top: 70px;
  padding-bottom: 144px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .asked-elements {
    flex-direction: column;
  }
}

.asked-lists {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.asked-list-1 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.asked-list-2 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.asked-list-3 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.asked-list-img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 48px;
  border: 1px solid rgb(240, 187, 31);
  border-radius: 13px;
  background: rgb(240, 187, 31);
}

.asked-list-img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 48px;
  border: 1px solid rgb(241, 90, 43);
  border-radius: 13px;
  background: rgb(241, 90, 43);
}

.asked-list-img3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 48px;
  border: 1px solid rgb(0, 99, 128);
  border-radius: 13px;
  background: rgb(0, 99, 128);
}

.asked-hero-img {
  transform: translateX(-130px);
}
@media screen and (max-width: 767px) {
  .asked-hero-img {
    transform: translateX(0);
  }
}
.asked-hero-img .asked-hero-img1 {
  width: 790px;
}
@media screen and (max-width: 767px) {
  .asked-hero-img .asked-hero-img1 {
    display: none;
  }
}

.asked-hero-img2 {
  display: none;
}
@media screen and (max-width: 767px) {
  .asked-hero-img2 {
    display: block;
    max-width: 390px;
  }
}

.section-amazing {
  background-image: url(../Images/amazing-bg.png);
  height: 399px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .section-amazing {
    background-position: bottom;
  }
}

.amazing-elements {
  display: flex;
  flex-direction: column;
  padding: 135px 0px 0px 130px;
}
@media screen and (max-width: 767px) {
  .amazing-elements {
    padding-left: 25px;
    padding-top: 50px;
  }
}
.amazing-elements h2 {
  width: 545px;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .amazing-elements h2 {
    width: 290px;
    font-size: 35px;
  }
}
.amazing-elements .amazing-img {
  width: 545px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .amazing-elements .amazing-img {
    width: 300px;
    text-align: left;
  }
}

.section-cancellation {
  background: rgb(255, 239, 205);
}

.cancellation-elements {
  padding-top: 140px;
  padding-bottom: 53px;
  background-image: url("../Images/cancellation-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 480px;
  background-position-y: 240px;
}
@media screen and (max-width: 767px) {
  .cancellation-elements {
    background-image: none;
  }
}

.cancellation-texts {
  display: flex;
  flex-direction: column;
}
.cancellation-texts h3 {
  color: rgb(224, 145, 50);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.cancellation-texts h2 {
  margin-top: 2px;
  margin-bottom: 20px;
  width: 700px;
  color: rgb(24, 30, 75);
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
  line-height: 71.04px;
  letter-spacing: 0%;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .cancellation-texts h2 {
    width: 310px;
    font-size: 30px;
  }
}
.cancellation-texts p {
  width: 574px;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 31px;
}
@media screen and (max-width: 767px) {
  .cancellation-texts p {
    max-width: 310px;
  }
}

.cancellation-btn a {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
  background: rgb(224, 145, 50);
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 16.72px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
}

.cancellation-imgs {
  padding-top: 80px;
  display: flex;
  gap: 26px;
}
.cancellation-imgs img {
  width: 200px;
}
@media screen and (max-width: 767px) {
  .cancellation-imgs {
    overflow-x: scroll;
  }
}

.section-paskages {
  background: rgb(255, 239, 205);
  padding-bottom: 100px;
}

.paskages-elements {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paskages-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paskages-texts h3 {
  color: rgb(223, 105, 81);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .paskages-texts h3 {
    font-size: 20px;
  }
}
.paskages-texts h2 {
  width: 500px;
  color: rgb(24, 30, 75);
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
  line-height: 71.04px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .paskages-texts h2 {
    width: 350px;
    font-size: 35px;
    line-height: 40px;
  }
}

.paskages-lists {
  margin-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  width: 1274px;
  display: flex;
  gap: 40px;
  align-items: center;
  overflow-x: scroll;
}
@media screen and (max-width: 767px) {
  .paskages-lists {
    max-width: 330px;
    overflow-x: scroll;
    padding: 0;
  }
}
.paskages-lists li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 357px;
  padding: 5px;
  padding-bottom: 8px;
  box-shadow: 0px 15.28px 26.74px 0px rgba(223, 105, 81, 0.15);
  border-radius: 25px;
}
@media screen and (max-width: 767px) {
  .paskages-lists li {
    box-shadow: 0px 0px 0px 0px;
    padding: 0;
  }
}

.paskages-list-img {
  padding-top: 5px;
}
.paskages-list-img img {
  width: 320px;
}

.paskages-list-text_1 {
  padding-top: 38px;
  display: flex;
  align-items: center;
  gap: 36px;
  width: 320px;
}

.paskages-list-text_1_t1 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.paskages-list-text_1_t1 h5 {
  width: 107px;
  padding-top: 2px;
  color: rgb(125, 125, 125);
  font-family: Poppins;
  font-size: 16.81px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.paskages-list-text_1_t2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.paskages-list-text_1_t2 h5 {
  padding-top: 2px;
  color: rgb(125, 125, 125);
  font-family: Poppins;
  font-size: 16.81px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.paskages-list-text_2 {
  width: 320px;
  padding-top: 12px;
}
.paskages-list-text_2 h2 {
  color: rgb(47, 47, 47);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 900;
  line-height: 34px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.paskages-list-text_3 {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.paskages-list-text_3_img-2 {
  padding: 3px;
}

.paskages-list-text_3_img-1 {
  display: flex;
  gap: 5px;
}
.paskages-list-text_3_img-1 h3 {
  padding-top: 4px;
  color: rgb(125, 125, 125);
  font-family: Poppins;
  font-size: 16.81px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.paskages-list-text_4 {
  width: 320px;
  display: flex;
  align-items: center;
  gap: 23px;
}
.paskages-list-text_4 h2 {
  color: rgb(223, 105, 81);
  font-family: Poppins;
  font-size: 29.03px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.paskages-list-text_4 h3 {
  color: rgb(125, 125, 125);
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.paskages-list-text_5_p {
  width: 320px;
}
.paskages-list-text_5_p p {
  width: 320px;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 12.22px;
  font-weight: 400;
  line-height: 24.45px;
  letter-spacing: 5%;
  text-align: left;
}

.paskages-btn {
  width: 140px;
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 190px;
}

.paskages-btn-a {
  display: inline-block;
  border-radius: 7.64px;
  box-shadow: 0px 15.28px 26.74px 0px rgba(223, 105, 81, 0.15);
  background: rgb(223, 105, 81);
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 12.77px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}

.section-about {
  background-image: url("../Images/abut_us-bg.png");
  height: 740px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-elements {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
}
.about-elements h3 {
  color: rgb(223, 105, 81);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}
.about-elements h2 {
  width: 640px;
  color: rgb(24, 30, 75);
  font-family: Poppins;
  font-size: 50px;
  font-weight: 700;
  line-height: 71.04px;
  letter-spacing: 0%;
  text-align: center;
}

.about-slides-texts {
  display: flex;
  align-items: center;
}
.about-slides-texts p {
  width: 390px;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 12.22px;
  font-weight: 400;
  line-height: 24.45px;
  letter-spacing: 5%;
  text-align: center;
}

.about-slides-text-2 h3 {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 12.22px;
  font-weight: 700;
  line-height: 24.45px;
  letter-spacing: 5%;
  text-align: center;
}/*# sourceMappingURL=style.css.map */