* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(94, 91, 91);
}

.container {
    max-width: 1278px;
    margin: 0 auto;
}



/* NAVBAR  */

.navbar {
    background-image: url(/images/bg_hero.png);
}

.nav__wrapper {
    align-items: center;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
}

.nav__list .nav__list-item {
    padding: 120px 0;
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav__list-item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.nav__btn {
    padding: 18px 26.5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 10px;
    transition: all 0.4s ease;
    box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
    background: rgb(224, 145, 50);
}

.nav__btn:hover {
    background: rgb(255, 255, 255);
    color: rgb(224, 145, 50);
}

.menu {
    display: none;
}

.btn__res {
    display: none;
}

#menu__burger img {
    display: none;
}


/* responsiv navbar  */

@media screen and (max-width: 1024px) {



    #menu__burger img {
        display: block;
    }

    .nav__wrapper {
        position: relative;
    }

    .nav__wrapper {
        display: flex;
    }

    .nav__list {
        position: absolute;
        z-index: 998;
        width: 60%;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translateX(-120%);
        transition: all 0.4s ease;
    }


    .nav__list-item {
        display: flex;
        flex-direction: column;
        background: grey;
        justify-content: center;
        padding: 0;
        align-items: center;
        text-align: center;

    }

    .nav__logo {
        z-index: 999;
    }

    .nav__btn {
        display: none;
    }


    .open {
        transform: translateX(0);
    }

}