.header-hero {
  padding-top: 140px;
  @include mobile() {
    padding-top: 240px;
  }
  h2 {
    color: #fff;
    width: 631px;
    font-family: Poppins;
    font-size: 54.51px;
    font-weight: 700;
    line-height: 67.91px;
    letter-spacing: 0%;
    text-align: left;
    @include mobile() {
      font-size: 28px;
      width: 330px;
      line-height: 50px;
    }
    .h2-Export {
      // color: rgb(224, 145, 50);
      color: rgb(255, 172, 72);
      letter-spacing: 5px;
    }
  }
}

.hero-btn {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 15px 50px;
  box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
  background: rgb(224, 145, 50);
  color: rgb(255, 255, 255);
  font-family: Circular Std;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.hero-selects {
  margin-top: 40px;
  width: 846px;
  height: 102px;
  border-radius: 5.22px;
  backdrop-filter: blur(35.52px);
  background: rgba(243, 243, 243, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include mobile() {
    width: 350px;
    overflow-x: scroll;
    // height: 500px;
    gap: 10px;
    padding-left: 250px;
    padding-right: 30px;
    display: none;
  }
  h3 {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 18.81px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
  }
}

.hero-mobile-selects {
  display: none;
  // @include mobile() {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 15px;
  // }
}

.selects-palasa {
  width: 3px;
  border-radius: 25px;
  height: 48px;
  background: rgb(208, 208, 208);
  @include mobile() {
    display: none;
  }
}
