.section-cancellation {
  background: rgb(255, 239, 205);
}

.cancellation-elements {
  padding-top: 140px;
  padding-bottom: 53px;
  background-image: url("../Images/cancellation-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 480px;
  background-position-y: 240px;
  @include mobile() {
    background-image: none;
  }
}

.cancellation-texts {
  display: flex;
  flex-direction: column;
  h3 {
    color: rgb(224, 145, 50);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 10%;
    text-align: left;
    text-transform: uppercase;
  }
  h2 {
    margin-top: 2px;
    margin-bottom: 20px;
    width: 700px;
    color: rgb(24, 30, 75);
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 71.04px;
    letter-spacing: 0%;
    text-align: left;
    @include mobile() {
      width: 310px;
      font-size: 30px;
    }
  }
  p {
    width: 574px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 31px;
    @include mobile() {
      max-width: 310px;
    }
  }
}

.cancellation-btn {
  a {
    display: inline-block;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
    background: rgb(224, 145, 50);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16.72px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.cancellation-imgs {
  padding-top: 80px;
  display: flex;
  gap: 26px;
  img {
    width: 200px;
  }
  @include mobile() {
    // flex-wrap: wrap;
    overflow-x: scroll;
  }
}

.cancellation-text_img {
}
