.section-choose {
  background: rgb(255, 239, 205);
}

.choose-elements {
  padding-top: 153px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  //   justify-content: center;
  gap: 122px;
  @include mobile() {
    padding-top: 50px;
    flex-direction: column;
  }
  img {
    width: 573px;
    @include mobile() {
      transform: translateX(-30px);
      width: 350px;
    }
  }
}

.choose-texts {
  h3 {
    color: rgb(224, 145, 50);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 10%;
    text-align: left;
    text-transform: uppercase;
    @include mobile() {
      text-align: center;
    }
  }
  h2 {
    color: rgb(24, 30, 75);
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 71.04px;
    letter-spacing: 0%;
    text-align: left;
    @include mobile() {
      text-align: center;
      font-size: 30px;
    }
  }
  p {
    width: 450px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    @include mobile() {
      text-align: center;
      width: 300px;
      height: 200px;
      overflow-y: scroll;
    }
  }
}

.choose-btn {
  margin-top: 40px;
  a {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
    background: rgb(224, 145, 50);
    color: rgb(255, 255, 255);
    font-family: Circular Std;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }
}
